<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="profileimage">
        <button type="submit">Upload</button>
        <img src="../uploads//1709977886010-Screenshot (118).png (1).png" alt="">
    </form>
</body>
</html>